# Ignore all files and directories
/*

# Negative git files
!.gitignore
!.gitconfig

# Negative profile, single file configs
!.bash_profile
!.alacritty.toml
!.vimrc
!.tmux.conf

# Negative subdirs
!*/

# MacOS $HOME mess
/.ansible/
/.cache/
/.cookiecutter_replay/
/.docker/
/.eclipse/
/.gem/
/.install/
/.kube/
/.kuberlr/
/.local/
/.minikube/
/.node-gyp/
/.npm/
/.nvm/
/.oh-my-bash/
/.pyenv/
/.rd/
/.ssh/
/.terminfo/
/.terraform.d/
/.vim/
/.vscode/
/.zsh_sessions/
/Applications/
/Desktop/
/Documents/
/Downloads/
/Library/
/Movies/
/Music/
/Pictures/
/Public/
/go/
/google-cloud-sdk/
/lib/
/nf525/
/rancher-postgres-volume/
/work/

# Unwanted from XDG
/.config/gcloud
/.config/htop
/.config/iterm2
/.config/configstore
/.config/fish
/.config/gtk-2.0

# Lazygit - exclude state file
!/.config/lazygit/**/*.*
/.config/lazygit/state.yml

# Neovim
!/.config/nvim/**/*.*

# LunarVim
!/.config/lvim/**/*.*
/.config/lvim/lazy-lock.json
/.config/lvim/telescope_history
/.config/lvim/mason/

# K9S - exclude cluster-specific
!/.config/k9s/**/*.*
/.config/k9s/clusters/**/*.*

